.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo

*.log
*.sqlite

data-pipeline/.env
data-pipeline/.env.*
data-pipeline/.venv*
data-pipeline/.mypy_cache/
data-pipeline/.pytest_cache/
data-pipeline/.ruff_cache/
data-pipeline/.coverage
data-pipeline/.hypothesis/

data-pipeline/outputs/csv/tmp/
data-pipeline/outputs/**/*.tmp

data-pipeline/notebooks/.ipynb_checkpoints/
